<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="5.0.0" targetFramework="net45" />
  <package id="Microsoft.Practices.Unity" version="1.0.0" targetFramework="net45" />
  <package id="UniCloud.Domain" version="1.0.1" targetFramework="net45" />
  <package id="UniCloud.Domain.Repositories" version="1.0.2" targetFramework="net45" />
  <package id="UniCloud.Events" version="1.0.1" targetFramework="net45" />
  <package id="UniCloud.Infrastructure" version="1.0.1" targetFramework="net45" />
  <package id="UniCloud.Infrastructure.Config" version="1.0.1" targetFramework="net45" />
  <package id="UniCloud.Infrastructure.Utility" version="1.0.2" targetFramework="net45" />
</packages>