<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.0" targetFramework="net45" />
  <package id="EnterpriseLibrary.Caching" version="5.0.505.0" targetFramework="net45" />
  <package id="EnterpriseLibrary.Common" version="6.0.1304.0" targetFramework="net45" />
  <package id="EnterpriseLibrary.Common" version="5.0.505.0" targetFramework="net45" />
  <package id="EntityFramework" version="5.0.0" targetFramework="net45" />
  <package id="log4net" version="2.0.0" targetFramework="net45" />
  <package id="Microsoft.Practices.Unity" version="1.0.0" targetFramework="net45" />
  <package id="UniCloud.Application" version="1.0.1" targetFramework="net45" />
  <package id="UniCloud.DataObjects" version="1.0.2" targetFramework="net45" />
  <package id="UniCloud.Domain" version="1.0.1" targetFramework="net45" />
  <package id="UniCloud.Domain.Repositories" version="1.0.2" targetFramework="net45" />
  <package id="UniCloud.Events" version="1.0.1" targetFramework="net45" />
  <package id="UniCloud.Infrastructure" version="1.0.1" targetFramework="net45" />
  <package id="UniCloud.Infrastructure.Caching" version="1.0.1" targetFramework="net45" />
  <package id="UniCloud.Infrastructure.Config" version="1.0.1" targetFramework="net45" />
  <package id="UniCloud.Infrastructure.Utility" version="1.0.2" targetFramework="net45" />
  <package id="Unity" version="2.1.505.2" targetFramework="net45" />
  <package id="Unity.Interception" version="2.1.505.2" targetFramework="net45" />
</packages>